export(AddMask)
export(AddMaskSet)
export(ClipImage)
export(ConMaskDb)
export(CreateCalExpFromText)
export(EmbedAndTaperImage)
export(EmbedImage)
export(GetMask)
export(GetMasks)
export(Image)
export(LoGKernel)
export(RegisterCalExp)
export(RemoveMask)
export(RotateFFT)
export(SetMaskLabel)
export(ShiftFFT)
export(TranslateFFT)
useDynLib(RCI,compmaskC)
useDynLib(RCI,compmasksC)
useDynLib(RCI,countholesC)
useDynLib(RCI,hillclimbC)
useDynLib(RCI,histequalC)
useDynLib(RCI,localmaxC)
useDynLib(RCI,slidinghistequalC)
