export(AddMask)
export(ConMaskDb)
export(CreateCalExpFromCSV)
export(GetMask)
export(GetMasks)
export(Image)
export(RegisterCalExp)
export(RemoveMask)
export(SetMaskLabel)
useDynLib(RCI,compmaskC)
useDynLib(RCI,compmasksC)
useDynLib(RCI,countholesC)
useDynLib(RCI,hillclimbC)
useDynLib(RCI,histequalC)
useDynLib(RCI,localmaxC)
useDynLib(RCI,slidinghistequalC)
