export(AddMask)
export(AddMaskSet)
export(AssignToPeaks)
export(ClipImage)
export(ClusterCells)
export(ClusterCorrelation)
export(ConMaskDb)
export(ConvolveImage)
export(CreateCalExpFromText)
export(EmbedAndTaperImage)
export(EmbedImage)
export(FFTPhaseCor)
export(FilterVector)
export(GetExtrema)
export(GetMask)
export(GetMasks)
export(GetPhase)
export(Image)
export(IntensityCorrection)
export(LoGKernel)
export(OptimRotate)
export(OptimShift)
export(OptimTranslate)
export(plot.MTSpectrum)
export(RegisterCalExp)
export(RemoveMask)
export(ReorderFFT)
export(RotateFFT)
export(SetMaskLabel)
export(ShiftFFT)
export(ShiftFFTVector)
export(ShiftVector)
export(TranslateFFT)
useDynLib(RCI,compmaskC)
useDynLib(RCI,compmasksC)
useDynLib(RCI,countholesC)
useDynLib(RCI,hillclimbC)
useDynLib(RCI,histequalC)
useDynLib(RCI,labelbumpsC)
useDynLib(RCI,localmaxC)
useDynLib(RCI,slidinghistequalC)
