export(AddMaskConnections)
export(AddMasks)
export(AssignContiguous)
export(AssignToPeaks)
export(ClipImage)
export(ClustDistance)
export(ClusterCells)
export(ComputeMaskFeatures)
export(ConMaskDb)
export(ConvolveImage)
export(CorByTime)
export(CreateCalExpFromText)
export(EmbedAndTaperImage)
export(EmbedImage)
export(EqualThreshMasks)
export(EvaluateConfidence)
export(EvaluateSegmentation)
export(FFTPhaseCor)
export(FilterVector)
export(GetAllSeries)
export(GetExtrema)
export(GetMask)
export(GetPhase)
export(GetSegmentation)
export(GetSeries)
export(GetSparseMasks)
export(GKernel)
export(Image)
export(ImageDb)
export(InitiateMaskClassifier)
export(IntensityCorrection)
export(LoGKernel)
export(LoGMasks)
export(LogSeq)
export(MaskDbSetup)
export(MaskHull)
export(MatrixToSparseMasks)
export(MultiTaperSpectrum)
export(OptimRotate)
export(OptimShift)
export(OptimTranslate)
export(PhaseDist)
export(PhaseDistMat)
export(plot.MTSpectrum)
export(PlotClustering)
export(PlotMask)
export(PlotMaskSet)
export(PlotMaskSetByID)
export(PlotSegmentation)
export(PredictExperiment)
export(PullAllData)
export(PullData)
export(RegisterCalExp)
export(RemoveMask)
export(ReorderFFT)
export(RestrictMaskSize)
export(RotateFFT)
export(SetMaskLabel)
export(ShiftFFT)
export(ShiftFFTVector)
export(ShiftVector)
export(SlidingHistEqualC)
export(summary.MaskDb)
export(TranslateFFT)
export(ViewCI)
useDynLib(RCI,compmaskC)
useDynLib(RCI,compmasksC)
useDynLib(RCI,countholesC)
useDynLib(RCI,labelbumpsC)
useDynLib(RCI,labelcontiguousC)
useDynLib(RCI,localmaxC)
useDynLib(RCI,slidinghistequalC)
