export(AddMask)
export(AddMasks)
export(AddMaskSet)
export(AssignToPeaks)
export(ClipImage)
export(ClusterCells)
export(ClusterCorrelation)
export(ComputeMaskFeatures)
export(ConMaskDb)
export(ConvolveImage)
export(CreateCalExpFromText)
export(EmbedAndTaperImage)
export(EmbedImage)
export(EqualThreshMasks)
export(FFTPhaseCor)
export(FilterVector)
export(GetExtrema)
export(GetMask)
export(GetPhase)
export(Image)
export(IntensityCorrection)
export(LoGKernel)
export(LoGMasks)
export(LogSeq)
export(MaskDbSetup)
export(MaskHull)
export(MatrixToSparseMasks)
export(MultiTaperSpectrum)
export(OptimRotate)
export(OptimShift)
export(OptimTranslate)
export(plot.MTSpectrum)
export(RegisterCalExp)
export(RemoveMask)
export(ReorderFFT)
export(RestrictMaskSize)
export(RotateFFT)
export(SetMaskLabel)
export(ShiftFFT)
export(ShiftFFTVector)
export(ShiftVector)
export(SlidingHistEqualC)
export(summary.MaskDb)
export(TranslateFFT)
useDynLib(RCI,compmasksC)
useDynLib(RCI,countholesC)
useDynLib(RCI,labelbumpsC)
useDynLib(RCI,localmaxC)
useDynLib(RCI,slidinghistequalC)
